.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 20%;
    border-radius: 50%;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  h1,
  h2,
  h3 {
    color: rgb(54, 53, 53);
  }
}
@media screen and (max-width: 900px) {
  .song-container {
    img {
      width: 25%;
    }
  }
}
@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 30%;
    }
  }
}
@media screen and (max-width: 620px) {
  .song-container {
    img {
      width: 35%;
    }
  }
}
